<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" style="height:100%"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Word Scrambler Beta</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- endbuild -->
  </head>
  <body ng-app="frontendApp" style="height:100%">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <nav class="navbar navbar-fixed-top navbar-default" ng-controller="NavbarCtrl" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img src="/images/yeoman.png" style="height:30px; margin: -5px"> Word Scrambler</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
         <!--  <ul class="nav navbar-nav">
            <li class="active"><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
                <li class="divider"></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul> -->
          <form ng-cloak class="navbar-form navbar-right" role="search" ng-show="!sessionUser">
            <div class="form-group">
              <input type="text" ng-model="username"class="form-control" placeholder="username">
            </div>
            <div class="form-group">
              <input type="password" ng-model="password"class="form-control" placeholder="password">
            </div>
            <button ng-click="login()" class="btn btn-default">Login</button>
            <button ng-click="signup()"class="btn btn-primary">Sign Up</button>
          </form>
          <ul class=" nav navbar-nav navbar-right" ng-show="sessionUser" style="padding-right:10px">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" >Profile<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#/myExercises">My Exercises</a></li>
                <li class="divider"></li>
                <li><a href="#" ng-click="logout()">Logout</a><li>
              </li>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <div class="" ng-view="" style="padding-left: 20px; height:100%"></div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/jquery-ui/jquery-ui.js"></script>
    <script src="bower_components/sortable/index.js"></script>
    <script src="bower_components/jquery.blast.min/index.js"></script>
    <script src="bower_components/jquery.ui.touch-punch.min/index.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular.audio/index.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/jspdf/index.js"></script>
    <script src="bower_components/main.min/index.js"></script>
    <script src="bower_components/ng-annotate-text-latest/index.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="http://d3js.org/d3.v3.min.js"></script>
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/Backend.js"></script>
        <script src="scripts/controllers/live.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/exercise.js"></script>
        <script src="scripts/controllers/index.js"></script>
        <script src="scripts/controllers/pdfcontroller.js"></script>
        <script src="scripts/controllers/navbar.js"></script>
        <script src="scripts/controllers/myExercises.js"></script>
        <script type="text/javascript" src="http://www.parsecdn.com/js/parse-1.2.19.min.js"></script>
        <!-- endbuild -->
</body>
</html>
