<script>
var jumboHeight = $('.jumbotron').outerHeight();
function parallax(){
    var scrolled = $(window).scrollTop();
    $('.bg').css('height', (jumboHeight-scrolled) + 'px');
}

$(window).scroll(function(e){
    parallax();
});
</script>
<style>
.bg {
  background: url('/images/word-scramble.jpg') no-repeat center center;
  position: fixed;
  width: 100%;
  height: 400px; /*same height as jumbotron */
  top:0;
  left:0;
  z-index: -1;
}

.jb {
  height: 400px;
  color: white;
  text-shadow: #444 0 1px 1px;
  background:transparent;
}
</style>
<div class="bg">
</div>
<div class="jumbotron jb">
  <div class="container" style="padding-top:50px">
	  <h1>Welcome to Word Scrambler!</h1>
	  <p>Click below to get create your own word scrambling activity. You can then have your students do their task on the computer or you can choose to use our printable worksheet!</p>
	  <p><a class="btn btn-primary btn-lg" role="button" ng-href="#/create">Get started!</a></p>
  </div>
</div>
  <div class="container-fluid">
    <div class="col-xs-12">
    	<div class="page-header">
    	  <center><h1>Checkout some activities</h1></center>
    </div>
    </div>
    <div class="row">
    <div class="col-xs-4" ng-repeat="item in recent">
  <div class="panel panel-primary" >
    <div class="panel-heading">
      {{item.title}}
    </div>
    <div class="panel-body">
      <p>{{item.description}}</p>
    </div>
    <div class="panel-footer">
      <a ng-href="#/exercise/{{item.id}}"class="btn btn-primary">View</a>  <a ng-href="#/create/{{item.id}}" class="btn btn-warning">Remix</a>  {{item.createdAt | date:'longDate'}}
    </div>
  </div>
  </div>
  </div>
</div>
</div>